@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next {
  @apply w-full h-full m-0 p-0;
}

.card-image {
  width: 100%;
  height: 100px; 
  object-fit: cover;
  border-radius: 8px;
}

.tooltip {
  display: none;
  /* Các thuộc tính khác nếu cần */
}

.group:hover .tooltip {
  display: block;
}


@media (max-width: 1024px) {
  .product-detail-image {
    height: 250px; /* Adjust height for tablets and smaller screens */
  }
}

@media (max-width: 768px) {
  .product-detail-image {
    height: 200px; /* Adjust height for mobile devices */
  }
}

@media (max-width: 480px) {
  .product-detail-image {
    height: 150px; /* Adjust height for smaller mobile devices */
  }
}